*.project
*.html
*.pdf
*.tex
*.tar.gz
*.log
*.Rcheck
*.docx
examples/
testPackage/lib
data/
.docx
*.pptx
.~lock*
*.DOCX
*.md
*.zip
*.txt
*.xlsx
testCreationPowerPoint.R
*.pydevproject
*.RData
test.Rmd

tests
!/package/inTextSummaryTable/tests

*.png
!/package/inTextSummaryTable/vignettes/images/*.png
