*.project
*.html
*.pdf
*.tex
*.tar.gz
*.log
*.Rcheck
*.docx
examples/
testPackage/lib
data/
.docx
*.pptx
.~lock*
*.DOCX
*.md
!README.md
*.zip
*.txt
*.xlsx
testCreationPowerPoint.R
*.pydevproject
*.RData
test.Rmd

tests
!/inTextSummaryTable/tests

*.png
!/inTextSummaryTable/vignettes/images/*.png
report/
