*.project
*.html
/tests
*.pdf
*.tex
*.png
*.tar.gz
*.log
*.Rcheck
*.docx
examples/
testPackage/lib
data/
.docx
*.pptx
.~lock*
*.DOCX
*.md
*.zip
*.txt
testCreationPowerPoint.R
*.pydevproject
*.RData
test.Rmd
